<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Dataset",
    "name": "ContentWise Impressions",
    "description": "First open-source dataset for Recommender Systems (RecSys) containing interactions and impressions (previous recommendations) of users suscribed to a video-on-demand service that provides access to television and cinema content.",
    "alternateName": [
        "contentwise-impressions",
        "contentwise-impressions-dataset",
        "ContentWise Impressions Dataset",
        "ContentWise Impressions: An Industrial Dataset with Impressions Included"
    ],
    "creator": [
        {
            "@type": "Person",
            "email": "fernandobenjamin.perez@polimi.it",
            "familyName": "Pérez Maurera",
            "givenName": "Fernando Benjamín",
            "name": "Fernando Benjamín Pérez Maurera",
            "sameAs": "http://orcid.org/0000-0001-6578-7404"
        },
        {
            "@type": "Person",
            "email": "maurizio.ferrari@polimi.it",
            "familyName": "Ferrari Dacrema",
            "givenName": "Maurizio",
            "name": "Maurizio Ferrari Dacrema",
            "sameAs": "http://orcid.org/0000-0001-7103-2788"
        },
        {
            "@type": "Person",
            "email": "lorenzo.saule@gmail.com",
            "familyName": "Saule",
            "givenName": "Lorenzo",
            "name": "Lorenzo Saule",
            "sameAs": "http://orcid.org/0000-0002-1572-666X"
        },
        {
            "@type": "Person",
            "email": "mario.scriminaci@contentwise.com",
            "familyName": "Scriminaci",
            "givenName": "Mario",
            "name": "Mario Scriminaci"
        },
        {
            "@type": "Person",
            "email": "paolo.cremonesi@polimi.it",
            "familyName": "Cremonesi",
            "givenName": "Paolo",
            "name": "Paolo Cremonesi",
            "sameAs": "http://orcid.org/0000-0002-1253-8081"
        }
    ],
    "citation": "https://doi.org/10.1145/3340531.3412774",
    "distribution": [
        {
            "@type": "DataDownload",
            "encodingFormat": "CSV",
            "contentUrl": "https://forms.office.com/Pages/ResponsePage.aspx?id=K3EXCvNtXUKAjjCd8ope6_zxBj9DRzpKnC4jkclZQupUQ0szOVhTQ1FCT0tZSEw1T1g0RzVBRVhSSC4u"
        },
        {
            "@type": "DataDownload",
            "encodingFormat": "parquet",
            "contentUrl": "https://forms.office.com/Pages/ResponsePage.aspx?id=K3EXCvNtXUKAjjCd8ope6_zxBj9DRzpKnC4jkclZQupUQ0szOVhTQ1FCT0tZSEw1T1g0RzVBRVhSSC4u"
        }
    ],
    "identifier": "10.1145/3340531.3412774",
    "keywords": [
        "impressions",
        "recommendation list",
        "implicit feedback",
        "industrial dataset",
        "video on demand",
        "open source",
        "recommender systems"
    ],
    "license": "https://creativecommons.org/licenses/by-nc-sa/4.0",
    "version": 1
}
</script>